<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Credential</servlet-name>
    <servlet-class>ods.Credential</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credential</servlet-name>
    <url-pattern>/getCredential</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitData</servlet-name>
    <servlet-class>ods.SubmitData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitData</servlet-name>
    <url-pattern>/SubmitData</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>ViewData</servlet-name>
    <servlet-class>ods.ViewData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewData</servlet-name>
    <url-pattern>/ViewData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ods.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateFile</display-name>
    <servlet-name>CreateFile</servlet-name>
    <servlet-class>ods.CreateFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFile</servlet-name>
    <url-pattern>/CreateFile</url-pattern>
  </servlet-mapping>
</web-app>